matplotlib==3.11.1
numpy==2.5.1
pandas==3.0.3
pyarrow==25.0.0
scipy==1.18.0
seaborn==0.13.2
# Editable Git install with no remote (sura-brand==0.1.0)
-e /Users/yesidmontano/Development/202607_technical_test_data_science/packages/sura_brand
